.transfer {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0.5rem;
  margin: 1.5rem 0 1rem 1rem;
  background-color: #438afc;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.transfer h2 {
  color: #3a3a3a;
  font-size: 1rem;
  /* flex: 1; */
  margin: 0 3.5rem;
  color: white;
}

.transfer h2#date {
  margin-left: 6rem;
}
